.flows.json.backup
[
    {
        "type": "tab",
        "id": "c3aed0d3.3ce58",
        "label": "Flow"
    },
    {
        "id": "MQTT.Localhost",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "339c286a.a5f248",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "91e81f96.ce0568"
            ]
        ]
    },
    {
        "id": "1483f35e.717c5d",
        "type": "display",
        "active": true,
        "x": 490.5,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "97d51a50.1542d8",
        "type": "commentdown",
        "name": "Clic below and look the result into the display tab",
        "info": "",
        "langs": [
            {
                "key": "en-US",
                "title": "Clic below and look the result into the display tab",
                "body": "",
                "isDefault": true
            }
        ],
        "x": 218.5,
        "y": 40,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "a0d55ea2.2aeb38",
        "type": "go",
        "name": "",
        "x": 170,
        "y": 500,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "ec99df0e.2883b8"
            ]
        ]
    },
    {
        "id": "381b0243.1e67de",
        "type": "exec",
        "command": "cd /root/userdir; git log --pretty=format:'%s'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "name": "cd /root/userdir; git ls-remote --exit-code github",
        "x": 436.5,
        "y": 500,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "c6081205.4d8d28"
            ],
            [
                "a1ac769f.ac0e68"
            ],
            [
                "6e9dc3f.548803c"
            ]
        ]
    },
    {
        "id": "a1ac769f.ac0e68",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 748.5,
        "y": 500,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "6e9dc3f.548803c",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 748.5,
        "y": 540,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "ebcf38a3.6bde48",
        "type": "exec",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "name": "",
        "x": 310,
        "y": 600,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "ff8cf508.01535"
            ],
            [
                "964c0136.9e0388"
            ],
            [
                "390c75ec.4dbec2"
            ]
        ]
    },
    {
        "id": "2b6ed767.be63f",
        "type": "go",
        "name": "",
        "x": 170,
        "y": 600,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "ebcf38a3.6bde48"
            ]
        ]
    },
    {
        "id": "91e81f96.ce0568",
        "type": "set",
        "property": "payload",
        "value": "Hello world!",
        "name": "",
        "x": 305,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "1483f35e.717c5d"
            ]
        ]
    },
    {
        "id": "c6081205.4d8d28",
        "type": "function",
        "name": "",
        "func": "msg.payload = msg.payload.split(\"\\n\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 460,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "969aba92.efc7e"
            ]
        ]
    },
    {
        "id": "969aba92.efc7e",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 948.5,
        "y": 460,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "387ff570.29e622",
        "type": "function",
        "name": "",
        "func": "if(msg.error){\n    msg.payload = \"error\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 600,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "e6ed2c7c.934af"
            ]
        ]
    },
    {
        "id": "e6ed2c7c.934af",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 848.5,
        "y": 600,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "964c0136.9e0388",
        "type": "function",
        "name": "",
        "func": "msg.stderr = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 600,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "387ff570.29e622"
            ]
        ]
    },
    {
        "id": "390c75ec.4dbec2",
        "type": "function",
        "name": "",
        "func": "msg.error = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 640,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "387ff570.29e622"
            ]
        ]
    },
    {
        "id": "ff8cf508.01535",
        "type": "function",
        "name": "",
        "func": "msg.stdout = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 560,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "387ff570.29e622"
            ]
        ]
    },
    {
        "id": "c419d219.06e51",
        "type": "git",
        "command": "cd /root/userdir; ",
        "name": "",
        "x": 470,
        "y": 420,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "a1f14d97.93d49"
            ]
        ]
    },
    {
        "id": "a1f14d97.93d49",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 670,
        "y": 420,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "ec99df0e.2883b8",
        "type": "function",
        "name": "",
        "func": "msg.payload = \"git add -A; git remote set-url origin 'https://antoinelt:24069216Git@github.com/AntoineLT/userdir.git'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 420,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "c419d219.06e51"
            ]
        ]
    }
]