flows.json
[
    {
        "type": "tab",
        "id": "c3aed0d3.3ce58",
        "label": "Flow"
    },
    {
        "type": "tab",
        "id": "zwave",
        "label": "Z-wave",
        "wires": [],
        "x": 60,
        "y": 30
    },
    {
        "type": "tab",
        "id": "b1187812.9903a8",
        "label": "Mamie"
    },
    {
        "id": "MQTT.Localhost",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "339c286a.a5f248",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "91e81f96.ce0568"
            ]
        ]
    },
    {
        "id": "1483f35e.717c5d",
        "type": "display",
        "active": true,
        "x": 490.5,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "97d51a50.1542d8",
        "type": "commentdown",
        "name": "Clic below and look the result into the display tab",
        "info": "",
        "langs": [
            {
                "key": "en-US",
                "title": "Clic below and look the result into the display tab",
                "body": "",
                "isDefault": true
            }
        ],
        "x": 218.5,
        "y": 40,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "a0d55ea2.2aeb38",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 140,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "ec99df0e.2883b8"
            ]
        ]
    },
    {
        "id": "ebcf38a3.6bde48",
        "type": "exec",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "name": "",
        "x": 290,
        "y": 240,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "c9778a91.b750d8"
            ],
            [
                "4cf0f1f9.92f538"
            ],
            [
                "dbbc739d.d42ae8"
            ]
        ]
    },
    {
        "id": "2b6ed767.be63f",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 240,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "ebcf38a3.6bde48"
            ]
        ]
    },
    {
        "id": "91e81f96.ce0568",
        "type": "set",
        "property": "payload",
        "value": "Hello world!",
        "name": "",
        "x": 305,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "1483f35e.717c5d"
            ]
        ]
    },
    {
        "id": "c419d219.06e51",
        "type": "git",
        "command": "cd /root/userdir; ",
        "name": "",
        "x": 490,
        "y": 140,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "a1f14d97.93d49"
            ]
        ]
    },
    {
        "id": "a1f14d97.93d49",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 670,
        "y": 140,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "ec99df0e.2883b8",
        "type": "function",
        "name": "",
        "func": "msg.payload = \"git ls-remote\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "c419d219.06e51"
            ]
        ]
    },
    {
        "id": "4cf0f1f9.92f538",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 240,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "dbbc739d.d42ae8",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 280,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "c9778a91.b750d8",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 200,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "zwave-in-2-37:0",
        "type": "zwave-in",
        "name": "Node2 : Switch",
        "nodeid": 2,
        "topic": "zwave/2/37/0/",
        "broker": "MQTT.Localhost",
        "x": 131.5,
        "y": 100,
        "z": "zwave",
        "wires": [
            [
                "55ecca02.98aefc"
            ]
        ]
    },
    {
        "id": "zwave-in-4-48:0",
        "type": "zwave-in",
        "name": "Node4 : Sensor",
        "nodeid": 4,
        "topic": "zwave/4/48/0/",
        "broker": "MQTT.Localhost",
        "x": 134,
        "y": 760,
        "z": "zwave",
        "wires": [
            [
                "ef5acaa0.76431",
                "30f82cf7.52255c"
            ]
        ]
    },
    {
        "id": "zwave-in-2-39:0",
        "type": "zwave-in",
        "name": "Node2 : Switch All",
        "nodeid": 2,
        "topic": "zwave/2/39/0/",
        "broker": "MQTT.Localhost",
        "x": 141,
        "y": 160,
        "z": "zwave",
        "wires": [
            [
                "ff3b7713.1078e8"
            ]
        ]
    },
    {
        "id": "zwave-in-2-49:4",
        "type": "zwave-in",
        "name": "Node2 : Power",
        "nodeid": 2,
        "topic": "zwave/2/49/4/",
        "broker": "MQTT.Localhost",
        "x": 131,
        "y": 220,
        "z": "zwave",
        "wires": [
            [
                "7f15a547.24c92c"
            ]
        ]
    },
    {
        "id": "b0e209a1.273c78",
        "type": "zwave",
        "name": "",
        "topic": "zwave/",
        "broker": "MQTT.Localhost",
        "x": 70,
        "y": 40,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "55ecca02.98aefc",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 368.5,
        "y": 100,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "ff3b7713.1078e8",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 368.5,
        "y": 160,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "7f15a547.24c92c",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 368.5,
        "y": 220,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "zwave-in-4-128:0",
        "type": "zwave-in",
        "name": "Node4 : Battery Level",
        "nodeid": 4,
        "topic": "zwave/4/128/0/",
        "broker": "MQTT.Localhost",
        "x": 153,
        "y": 440,
        "z": "zwave",
        "wires": [
            [
                "1c138e1f.0f5f4a",
                "36eb4a82.f68d7e"
            ]
        ]
    },
    {
        "id": "zwave-in-4-49:1",
        "type": "zwave-in",
        "name": "Node4 : Temperature",
        "nodeid": 4,
        "topic": "zwave/4/49/1/",
        "broker": "MQTT.Localhost",
        "x": 151.5,
        "y": 520,
        "z": "zwave",
        "wires": [
            [
                "22c84a6a.ec7a4e",
                "23b24bd7.cd3f6c"
            ]
        ]
    },
    {
        "id": "zwave-in-4-49:3",
        "type": "zwave-in",
        "name": "Node4 : Luminance",
        "nodeid": 4,
        "topic": "zwave/4/49/3/",
        "broker": "MQTT.Localhost",
        "x": 146,
        "y": 600,
        "z": "zwave",
        "wires": [
            [
                "bb974fa3.5c3de8",
                "11933b9d.b50074"
            ]
        ]
    },
    {
        "id": "zwave-in-4-156:0",
        "type": "zwave-in",
        "name": "Node4 : General",
        "nodeid": 4,
        "topic": "zwave/4/156/0/",
        "broker": "MQTT.Localhost",
        "x": 137,
        "y": 680,
        "z": "zwave",
        "wires": [
            [
                "9625ccaf.fffc",
                "7a346684.8a905"
            ]
        ]
    },
    {
        "id": "1c138e1f.0f5f4a",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 388.5,
        "y": 400,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "22c84a6a.ec7a4e",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 388.5,
        "y": 480,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "9625ccaf.fffc",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 388.5,
        "y": 640,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "78c13c87.29c5e4",
        "type": "zwave-out",
        "name": "ON",
        "method": "switchon",
        "nodeid": "2",
        "level": "",
        "class": "37",
        "index": "0",
        "value": "0",
        "x": 370,
        "y": 280,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "77aef961.cc005",
        "type": "zwave-out",
        "name": "OFF",
        "method": "switchoff",
        "nodeid": "2",
        "level": "",
        "class": "37",
        "index": "0",
        "value": "0",
        "x": 370,
        "y": 340,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "b40b1cea.15741",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 280,
        "z": "zwave",
        "wires": [
            [
                "78c13c87.29c5e4"
            ]
        ]
    },
    {
        "id": "68c6b5a5.05d594",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 340,
        "z": "zwave",
        "wires": [
            [
                "77aef961.cc005"
            ]
        ]
    },
    {
        "id": "zwave-in-5-113:0",
        "type": "zwave-in",
        "name": "Node5 : Alarm Type",
        "nodeid": 5,
        "topic": "zwave/5/113/0/",
        "broker": "MQTT.Localhost",
        "x": 647,
        "y": 100,
        "z": "zwave",
        "wires": [
            [
                "7d5c36c1.696078"
            ]
        ]
    },
    {
        "id": "zwave-in-5-113:1",
        "type": "zwave-in",
        "name": "Node5 : Alarm Level",
        "nodeid": 5,
        "topic": "zwave/5/113/1/",
        "broker": "MQTT.Localhost",
        "x": 648.5,
        "y": 160,
        "z": "zwave",
        "wires": [
            [
                "a8d89114.e851c8"
            ]
        ]
    },
    {
        "id": "zwave-in-5-128:0",
        "type": "zwave-in",
        "name": "Node5 : Battery Level",
        "nodeid": 5,
        "topic": "zwave/5/128/0/",
        "broker": "MQTT.Localhost",
        "x": 653,
        "y": 220,
        "z": "zwave",
        "wires": [
            [
                "c77fae1d.57fd38"
            ]
        ]
    },
    {
        "id": "zwave-in-5-48:0",
        "type": "zwave-in",
        "name": "Node5 : Sensor",
        "nodeid": 5,
        "topic": "zwave/5/48/0/",
        "broker": "MQTT.Localhost",
        "x": 634,
        "y": 280,
        "z": "zwave",
        "wires": [
            [
                "a45639bb.f6f798"
            ]
        ]
    },
    {
        "id": "zwave-in-5-49:1",
        "type": "zwave-in",
        "name": "Node5 : Temperature",
        "nodeid": 5,
        "topic": "zwave/5/49/1/",
        "broker": "MQTT.Localhost",
        "x": 651.5,
        "y": 340,
        "z": "zwave",
        "wires": [
            [
                "4a4f744e.f4ce14"
            ]
        ]
    },
    {
        "id": "zwave-in-5-49:3",
        "type": "zwave-in",
        "name": "Node5 : Luminance",
        "nodeid": 5,
        "topic": "zwave/5/49/3/",
        "broker": "MQTT.Localhost",
        "x": 646,
        "y": 400,
        "z": "zwave",
        "wires": [
            [
                "1856d6b2.5d61d9"
            ]
        ]
    },
    {
        "id": "zwave-in-5-49:5",
        "type": "zwave-in",
        "name": "Node5 : Relative Humidity",
        "nodeid": 5,
        "topic": "zwave/5/49/5/",
        "broker": "MQTT.Localhost",
        "x": 665.5,
        "y": 460,
        "z": "zwave",
        "wires": [
            [
                "e9a11229.ed4918"
            ]
        ]
    },
    {
        "id": "zwave-in-5-49:27",
        "type": "zwave-in",
        "name": "Node5 : Ultraviolet",
        "nodeid": 5,
        "topic": "zwave/5/49/27/",
        "broker": "MQTT.Localhost",
        "x": 642.5,
        "y": 520,
        "z": "zwave",
        "wires": [
            [
                "55ed187e.89ff"
            ]
        ]
    },
    {
        "id": "zwave-in-5-113:2",
        "type": "zwave-in",
        "name": "Node5 : SourceNodeId",
        "nodeid": 5,
        "topic": "zwave/5/113/2/",
        "broker": "MQTT.Localhost",
        "x": 656,
        "y": 580,
        "z": "zwave",
        "wires": [
            [
                "9b36838c.1ed868"
            ]
        ]
    },
    {
        "id": "zwave-in-5-113:10",
        "type": "zwave-in",
        "name": "Node5 : Burglar",
        "nodeid": 5,
        "topic": "zwave/5/113/10/",
        "broker": "MQTT.Localhost",
        "x": 634.5,
        "y": 640,
        "z": "zwave",
        "wires": [
            [
                "5fa4dfdf.eb1c4"
            ]
        ]
    },
    {
        "id": "7d5c36c1.696078",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 100,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "a8d89114.e851c8",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 160,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "c77fae1d.57fd38",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 220,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "a45639bb.f6f798",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 280,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "4a4f744e.f4ce14",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 933.5,
        "y": 339,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "1856d6b2.5d61d9",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 400,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "e9a11229.ed4918",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 460,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "55ed187e.89ff",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 520,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "9b36838c.1ed868",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 580,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "5fa4dfdf.eb1c4",
        "type": "debug",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 928.5,
        "y": 640,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "ef5acaa0.76431",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 388.5,
        "y": 720,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "36eb4a82.f68d7e",
        "type": "ubidots",
        "name": "",
        "auth_token": "beBQXkxwMC6mjU5JozkQty4FRaD99SrZ7mKvXDdFbPOzuotyIolggcuqcuPB",
        "variable_id": "566a8fe476254229a94fbbcb",
        "x": 371.5,
        "y": 440,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "23b24bd7.cd3f6c",
        "type": "ubidots",
        "name": "",
        "auth_token": "beBQXkxwMC6mjU5JozkQty4FRaD99SrZ7mKvXDdFbPOzuotyIolggcuqcuPB",
        "variable_id": "566a8ff076254229a94fbbdf",
        "x": 371.5,
        "y": 520,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "bb974fa3.5c3de8",
        "type": "ubidots",
        "name": "",
        "auth_token": "beBQXkxwMC6mjU5JozkQty4FRaD99SrZ7mKvXDdFbPOzuotyIolggcuqcuPB",
        "variable_id": "566a8ffc7625422a71f40851",
        "x": 371.5,
        "y": 600,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "7a346684.8a905",
        "type": "ubidots",
        "name": "",
        "auth_token": "beBQXkxwMC6mjU5JozkQty4FRaD99SrZ7mKvXDdFbPOzuotyIolggcuqcuPB",
        "variable_id": "566a90057625422ae8ede23e",
        "x": 371.5,
        "y": 680,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "30f82cf7.52255c",
        "type": "ubidots",
        "name": "",
        "auth_token": "beBQXkxwMC6mjU5JozkQty4FRaD99SrZ7mKvXDdFbPOzuotyIolggcuqcuPB",
        "variable_id": "566a900f7625422bea56b6e2",
        "x": 371.5,
        "y": 760,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "11933b9d.b50074",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 388.5,
        "y": 560,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "9b6887f1.7b1d3",
        "type": "zwave-out",
        "name": "ON",
        "method": "switchon",
        "nodeid": "2",
        "level": "",
        "class": "37",
        "index": "0",
        "value": "0",
        "x": 1130,
        "y": 140,
        "z": "b1187812.9903a8",
        "wires": []
    },
    {
        "id": "1d017c2a.c51954",
        "type": "zwave-out",
        "name": "OFF",
        "method": "switchoff",
        "nodeid": "2",
        "level": "",
        "class": "37",
        "index": "0",
        "value": "0",
        "x": 1130,
        "y": 180,
        "z": "b1187812.9903a8",
        "wires": []
    },
    {
        "id": "d76df7c5.4d4f38",
        "type": "function",
        "name": "",
        "func": "if(context.global.luminance < 200) {\n    if(msg.sensor === 1){\n        return [msg,null];\n    } else {\n        return [null,msg];\n    }\n} else {\n    return [null,msg];\n}",
        "outputs": "2",
        "noerr": 0,
        "x": 970,
        "y": 160,
        "z": "b1187812.9903a8",
        "wires": [
            [
                "9b6887f1.7b1d3"
            ],
            [
                "1d017c2a.c51954"
            ]
        ]
    },
    {
        "id": "7c291343.a4a55c",
        "type": "change",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sensor",
                "to": "msg.payload"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 596.5,
        "y": 160,
        "z": "b1187812.9903a8",
        "wires": [
            [
                "768d1640.b54d08"
            ]
        ]
    },
    {
        "id": "53a1e25d.f5ecdc",
        "type": "function",
        "name": "",
        "func": "context.global.luminance = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 100,
        "z": "b1187812.9903a8",
        "wires": [
            [
                "52b2cc79.71f734"
            ]
        ]
    },
    {
        "id": "52b2cc79.71f734",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 588.5,
        "y": 100,
        "z": "b1187812.9903a8",
        "wires": []
    },
    {
        "id": "7fe2127f.4b1604",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "250",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 132.5,
        "y": 100,
        "z": "b1187812.9903a8",
        "wires": [
            [
                "53a1e25d.f5ecdc"
            ]
        ]
    },
    {
        "id": "9815f7f3.31c5c",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "100",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 60,
        "z": "b1187812.9903a8",
        "wires": [
            [
                "53a1e25d.f5ecdc"
            ]
        ]
    },
    {
        "id": "9a63acee.92cad8",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 160,
        "z": "b1187812.9903a8",
        "wires": [
            [
                "61a10210.9716ac"
            ]
        ]
    },
    {
        "id": "61a10210.9716ac",
        "type": "function",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 160,
        "z": "b1187812.9903a8",
        "wires": [
            [
                "7c291343.a4a55c"
            ]
        ]
    },
    {
        "id": "31655361.7695b4",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "It's ok",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 380,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "d5040961.a0bda"
            ]
        ]
    },
    {
        "id": "177fa4c2.906fe3",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "Not today",
        "payloadType": "string",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115,
        "y": 340,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "9631cea7.60c0f"
            ]
        ]
    },
    {
        "id": "e5e33280.859fd8",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 340,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "75c9a727.beb0d8",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 380,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "zwave-in-7-32:0",
        "type": "zwave-in",
        "name": "Node7 : Basic",
        "nodeid": 7,
        "topic": "zwave/7/32/0/",
        "broker": "MQTT.Localhost",
        "x": 1148.5,
        "y": 100,
        "z": "zwave",
        "wires": [
            [
                "40600056.4be72"
            ]
        ]
    },
    {
        "id": "zwave-in-7-128:0",
        "type": "zwave-in",
        "name": "Node7 : Battery Level",
        "nodeid": 7,
        "topic": "zwave/7/128/0/",
        "broker": "MQTT.Localhost",
        "x": 1173,
        "y": 160,
        "z": "zwave",
        "wires": [
            [
                "3e888c0f.62ac6c"
            ]
        ]
    },
    {
        "id": "zwave-in-7-91:0",
        "type": "zwave-in",
        "name": "Node7 : Scene Count",
        "nodeid": 7,
        "topic": "zwave/7/91/0/",
        "broker": "MQTT.Localhost",
        "x": 1172.5,
        "y": 220,
        "z": "zwave",
        "wires": [
            [
                "9331dcd5.334f08"
            ]
        ]
    },
    {
        "id": "zwave-in-7-39:0",
        "type": "zwave-in",
        "name": "Node7 : Switch All",
        "nodeid": 7,
        "topic": "zwave/7/39/0/",
        "broker": "MQTT.Localhost",
        "x": 1161,
        "y": 280,
        "z": "zwave",
        "wires": [
            [
                "331e756d.e1eeda"
            ]
        ]
    },
    {
        "id": "zwave-in-7-38:0",
        "type": "zwave-in",
        "name": "Node7 : Level",
        "nodeid": 7,
        "topic": "zwave/7/38/0/",
        "broker": "MQTT.Localhost",
        "x": 1148.5,
        "y": 340,
        "z": "zwave",
        "wires": [
            [
                "5106c992.57ec6"
            ]
        ]
    },
    {
        "id": "zwave-in-7-38:1",
        "type": "zwave-in",
        "name": "Node7 : Bright",
        "nodeid": 7,
        "topic": "zwave/7/38/1/",
        "broker": "MQTT.Localhost",
        "x": 1150,
        "y": 400,
        "z": "zwave",
        "wires": [
            [
                "90b0fa4a.085df"
            ]
        ]
    },
    {
        "id": "zwave-in-7-38:2",
        "type": "zwave-in",
        "name": "Node7 : Dim",
        "nodeid": 7,
        "topic": "zwave/7/38/2/",
        "broker": "MQTT.Localhost",
        "x": 1143.5,
        "y": 460,
        "z": "zwave",
        "wires": [
            [
                "d67b25a4.53e01"
            ]
        ]
    },
    {
        "id": "zwave-in-7-38:3",
        "type": "zwave-in",
        "name": "Node7 : Ignore Start Level",
        "nodeid": 7,
        "topic": "zwave/7/38/3/",
        "broker": "MQTT.Localhost",
        "x": 1187.5,
        "y": 520,
        "z": "zwave",
        "wires": [
            [
                "b4b1634b.b26078"
            ]
        ]
    },
    {
        "id": "zwave-in-7-38:4",
        "type": "zwave-in",
        "name": "Node7 : Start Level",
        "nodeid": 7,
        "topic": "zwave/7/38/4/",
        "broker": "MQTT.Localhost",
        "x": 1165.5,
        "y": 580,
        "z": "zwave",
        "wires": [
            [
                "59f924f2.a30ab4"
            ]
        ]
    },
    {
        "id": "40600056.4be72",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1428.5,
        "y": 100,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "3e888c0f.62ac6c",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1428.5,
        "y": 160,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "9331dcd5.334f08",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1428.5,
        "y": 220,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "331e756d.e1eeda",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1428.5,
        "y": 280,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "5106c992.57ec6",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1433.5,
        "y": 339,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "90b0fa4a.085df",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1428.5,
        "y": 400,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "d67b25a4.53e01",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1428.5,
        "y": 460,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "b4b1634b.b26078",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1428.5,
        "y": 520,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "59f924f2.a30ab4",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1428.5,
        "y": 580,
        "z": "zwave",
        "wires": []
    },
    {
        "id": "9631cea7.60c0f",
        "type": "timefilter",
        "name": "",
        "start": "0",
        "end": "20",
        "days": [
            "1",
            "2",
            "3",
            "5",
            "6"
        ],
        "x": 295,
        "y": 340,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "e5e33280.859fd8"
            ]
        ]
    },
    {
        "id": "d5040961.a0bda",
        "type": "timefilter",
        "name": "",
        "start": "0",
        "end": "19",
        "days": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "0"
        ],
        "x": 295,
        "y": 380,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "75c9a727.beb0d8"
            ]
        ]
    },
    {
        "id": "768d1640.b54d08",
        "type": "timefilter",
        "name": "",
        "start": "0",
        "end": "7",
        "days": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "0"
        ],
        "x": 795,
        "y": 160,
        "z": "b1187812.9903a8",
        "wires": [
            [
                "d76df7c5.4d4f38"
            ]
        ]
    }
]