flows.json
[
    {
        "type": "tab",
        "id": "c3aed0d3.3ce58",
        "label": "Flow"
    },
    {
        "id": "MQTT.Localhost",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "339c286a.a5f248",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "91e81f96.ce0568"
            ]
        ]
    },
    {
        "id": "1483f35e.717c5d",
        "type": "display",
        "active": true,
        "x": 490.5,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "97d51a50.1542d8",
        "type": "commentdown",
        "name": "Clic below and look the result into the display tab",
        "info": "",
        "langs": [
            {
                "key": "en-US",
                "title": "Clic below and look the result into the display tab",
                "body": "",
                "isDefault": true
            }
        ],
        "x": 218.5,
        "y": 40,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "a0d55ea2.2aeb38",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 140,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "ec99df0e.2883b8"
            ]
        ]
    },
    {
        "id": "ebcf38a3.6bde48",
        "type": "exec",
        "command": "ls",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "name": "",
        "x": 290,
        "y": 240,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "c9778a91.b750d8"
            ],
            [
                "4cf0f1f9.92f538"
            ],
            [
                "dbbc739d.d42ae8"
            ]
        ]
    },
    {
        "id": "2b6ed767.be63f",
        "type": "go",
        "name": "",
        "x": 110,
        "y": 240,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "ebcf38a3.6bde48"
            ]
        ]
    },
    {
        "id": "91e81f96.ce0568",
        "type": "set",
        "property": "payload",
        "value": "Hello world!",
        "name": "",
        "x": 305,
        "y": 80,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "1483f35e.717c5d"
            ]
        ]
    },
    {
        "id": "c419d219.06e51",
        "type": "git",
        "command": "cd /root/userdir; ",
        "name": "",
        "x": 490,
        "y": 140,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "a1f14d97.93d49"
            ]
        ]
    },
    {
        "id": "a1f14d97.93d49",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 670,
        "y": 140,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "ec99df0e.2883b8",
        "type": "function",
        "name": "",
        "func": "msg.payload = \"git ls-remote\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 140,
        "z": "c3aed0d3.3ce58",
        "wires": [
            [
                "c419d219.06e51"
            ]
        ]
    },
    {
        "id": "4cf0f1f9.92f538",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 240,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "dbbc739d.d42ae8",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 280,
        "z": "c3aed0d3.3ce58",
        "wires": []
    },
    {
        "id": "c9778a91.b750d8",
        "type": "debug",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 508.5,
        "y": 200,
        "z": "c3aed0d3.3ce58",
        "wires": []
    }
]