node_modules/ttb-node-owntracks/lib/flows/owntracks.json
[
    {
        "id": "49fdba16.497324",
        "type": "websocket-listener",
        "path": "/ws/location",
        "wholemsg": "false"
    },
    {
        "id": "a95a8133.b331c8",
        "type": "websocket out",
        "name": "",
        "server": "49fdba16.497324",
        "client": "",
        "x": 770.5,
        "y": 420,
        "z": "a5da4e1c.378008",
        "wires": []
    },
    {
        "id": "a25cb14d.715e1",
        "type": "websocket in",
        "name": "",
        "server": "49fdba16.497324",
        "client": "",
        "x": 327,
        "y": 460,
        "z": "a5da4e1c.378008",
        "wires": [
            [
                "40e511.330dbaf"
            ]
        ]
    },
    {
        "id": "5454c4a4.bcf694",
        "type": "http in",
        "name": "",
        "url": "/map",
        "method": "get",
        "x": 128,
        "y": 520,
        "z": "a5da4e1c.378008",
        "wires": [
            [
                "3a61dcc8.ee358c"
            ]
        ]
    },
    {
        "id": "5eb493ad.3d93d4",
        "type": "http response",
        "name": "",
        "x": 730,
        "y": 520,
        "z": "a5da4e1c.378008",
        "wires": []
    },
    {
        "id": "cda69925.82255",
        "type": "template",
        "name": "Map",
        "field": "",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n    <title>Owntracks & The ThingBox Live Map</title>\n    <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n    <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n    <style type=\"text/css\" media=\"screen\">\n        #map {\n            position:absolute;\n            top: 0; bottom: 0; left: 0; right: 0;\n        }\n    </style>\n</head>\n<body>\n    <div id=\"map\"></div>\n    <script type=\"text/javascript\">\n        var socketaddy = \"ws://{{payload}}:80/api/ws/location\";\n        var map;\n        var sock;\n        $(document).ready(function(){\n            map = new GMaps({\n                div: '#map',\n                lat: 48.858484,\n                lng: 2.348178\n            });\n            map.setZoom(5);\n          \n            sock = new WebSocket(socketaddy);\n            sock.onopen = function(){ \n                console.log(\"Connected websocket\");\n    \t        console.log(\"Sending ping..\");\n    \t        sock.send(\"Ping!\");\n    \t        console.log(\"Ping sent..\");\n            };\n            sock.onerror = function(){ console.log(\"Websocket error\"); };\n            sock.onmessage = function(evt){\n                var latlng = JSON.parse(evt.data);\n                var array = $.map(latlng, function(el) {\n      \t\t        return [[el.lat, el.lng]];\n    \t        });\n                map.removeMarkers();\n           \t    console.log(\"Got marker at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n                map.setZoom(17);\n           \t    map.setCenter(latlng[0].lat, latlng[0].lng);\n                map.addMarkers(latlng);\n\n            }\n        });\n    </script>\n</body>\n</html>",
        "x": 550,
        "y": 520,
        "z": "a5da4e1c.378008",
        "wires": [
            [
                "5eb493ad.3d93d4"
            ]
        ]
    },
    {
        "id": "40e511.330dbaf",
        "type": "function",
        "name": "function 2",
        "func": "// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload = context.global.location;\n\nreturn msg;",
        "outputs": 1,
        "x": 559.5,
        "y": 460,
        "z": "a5da4e1c.378008",
        "wires": [
            [
                "a95a8133.b331c8"
            ]
        ]
    },
    {
        "id": "20254044.82eb58",
        "type": "function",
        "name": "function 1",
        "func": "// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "x": 563.5,
        "y": 420,
        "z": "a5da4e1c.378008",
        "wires": [
            [
                "a95a8133.b331c8"
            ]
        ]
    },
    {
        "id": "b1bfff2e.33ea1",
        "type": "function",
        "name": "Adaptation",
        "func": "var latitude = msg.payload.latitude;\nvar longitude = msg.payload.longitude;\nmsg.payload = '[{\"lat\":\"' + latitude + '\",\"lng\":\"' + longitude + '\"}]'; \nreturn msg;",
        "outputs": 1,
        "x": 402.5,
        "y": 420,
        "z": "a5da4e1c.378008",
        "wires": [
            [
                "20254044.82eb58"
            ]
        ]
    },
    {
        "id": "6a5bec4f.0b2cd4",
        "type": "owntracks",
        "name": "",
        "topic": "thethingbox/position/antoine",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "8de36f627975abc6",
        "user": "",
        "pass": "",
        "x": 173.5,
        "y": 420,
        "z": "a5da4e1c.378008",
        "wires": [
            [
                "b1bfff2e.33ea1"
            ]
        ]
    },
    {
        "id": "3a61dcc8.ee358c",
        "type": "file in",
        "name": "",
        "filename": "/etc/hostname",
        "format": "utf8",
        "x": 313,
        "y": 520,
        "z": "a5da4e1c.378008",
        "wires": [
            [
                "cda69925.82255"
            ]
        ]
    }
]